
/* default styles */
html{
box-sizing:border-box;
}
*,
*::before,
*::after{
box-sizing:inherit;
padding:0;
margin:0;
}

/* general */
a{
display:block;
padding:0.7rem;
text-decoration: none;
text-transform:capitalize;
color:#000;
font-size:18px;
font-weight:600;
}
body{
font-family: "Jost",sans-serif;
}
header,
section,
footer{
padding:2rem 5%;
}






.nav-container{
 display:flex;
 justify-content: space-between;
 align-items:center;
}
.logo-title{
 color:#F40469;
 font-weight:800;
 font-size:32px;
}
.banner-section{
 background: url(../images/banner-image.svg) 50%/cover no-repeat rgba(0, 0, 0, 0.30);
 height:504px;
 color:#fff;
 display:flex;
}
.banner-contents{
 margin:auto;
}
.banner-contents h3{
 font-weight:400;
 font-size:56px;
 margin-bottom:1rem;

}
.banner-contents .form-field{
background:#fff;
border-radius:30px;
position:relative;
height:56px;
}
.banner-contents .form-field input{
 display:block;
 width:100%;
 padding:0.7rem;
 border-radius:inherit;
 outline:none;
 border:none;
 /*border:1px solid #ccc;*/
 height:56px;
 /*text-align:center;*/
 text-indent:141px;
}
.banner-contents .form-field .absolute{
 position: absolute;
}
.banner-contents .form-field .button-container{
right:0;
top:0;
}
.banner-contents .form-field .button-container button{
background:#F40469;
padding:0.7rem;
border-radius:0px 28px 28px 0px;
display:block;
color:#fff;
outline:none;
border:none;
width:136px;
height:56px;
font-size:18px;
font-weight:600;
text-transform: capitalize;
cursor:pointer;
}
.banner-contents .form-field .location{
 top:0;
 left:0;
 color:#000;
 height:56px;
 border-radius:28px 0px 0px 28px;
 /*line-height:56px;*/
 width:140px;
 display:flex;
 /*flex-flow:row wrap;*/
 align-items:center;
 justify-content:space-around;
 margin-left:0.5rem;
 gap:1rem;
 font-size:18px;
 font-weight:600;
}
h4,p{
color:red;
border:1px solid blue;
}

.Promotion{
    width: 1069px; height: 592px; position: relative
}

.TakeATasteComeJ{
    width: 400px; left: 669px; top: 103px; position: absolute; color: rgba(0, 0, 0, 0.85); font-size: 48px; font-family: Jost; font-weight: 400; line-height: 64px; letter-spacing: 0.30px; word-wrap: break-word
}

.InTheArtistSOwn{
    width: 400px; left: 669px; top: 326px; position: absolute; color: rgba(0, 0, 0, 0.85); font-size: 16px; font-family: Jost; font-weight: 400; line-height: 24px; letter-spacing: 0.30px; word-wrap: break-word
}

.Button{
    width: 246px; height: 56px; left: 669px; top: 456px; position: absolute
}

.Button > .Placeholder{
    width: 246px; height: 56px; left: 0px; top: 0px; position: absolute; background: #FF006E; border-radius: 40px
}

.Button1{
    left: 25.42px; top: 16px; position: absolute; text-align: center; color: white; font-size: 21px; font-family: Jost; font-weight: 600; line-height: 24px; letter-spacing: 1px; word-wrap: break-word
}

.Images{
    width: 605px; height: 591.44px; left: 0px; top: 0px; position: absolute
}
.Ornament{
    width: 439px; height: 415px; left: 83px; top: 78px; position: absolute
}
.Ornament1{
    width: 605px; height: 572px; left: 0px; top: 0px; position: absolute
}
/* .Ornament2{
    width: 605px; height: 572px; left: 0px; top: 0px; position: absolute; border: 1px #F40469 solid
}
.Ornament3{
    width: 321.78px; height: 305.01px; left: 315.61px; top: 160.27px; position: absolute; transform: rotate(120deg); transform-origin: 0 0
} */

.PopularOnNewYorkArea{
    color: rgba(0, 0, 0, 0.85); font-size: 32px; font-family: Jost; font-weight: 400; line-height: 48px; letter-spacing: 0.30px; word-wrap: break-word
}
.ViewAll{
    text-align: right; color: rgba(0, 0, 0, 0.85); font-size: 18px; font-family: Jost; font-weight: 600; line-height: 24px; letter-spacing: 0.80px; word-wrap: break-word
}
.Text{
    width: 335px; height: 64px; position: relative
}
.IconDelivery{
    width: 18px; height: 18px; left: 0px; top: 42px; position: absolute
}
.IconTime{
    width: 18px; height: 18px; left: 216px; top: 42px; position: absolute
}
.Time{
    left: 242px; top: 40px; position: absolute; color: rgba(0, 0, 0, 0.85); font-size: 18px; font-family: Jost; font-weight: 400; line-height: 24px; word-wrap: break-word
}
.DeliveryFee{
    left: 26px; top: 40px; position: absolute; color: rgba(0, 0, 0, 0.85); font-size: 18px; font-family: Jost; font-weight: 400; line-height: 24px; word-wrap: break-word
}
.RestaurantName{
    left: 0px; top: 0px; position: absolute; color: rgba(0, 0, 0, 0.85); font-size: 24px; font-family: Jost; font-weight: 400; line-height: 36px; letter-spacing: 0.30px; word-wrap: break-word
}

.hotel1{
    border: 1px solid black;
    float: left;
}
.hotel23{
    border: 1px solid black;
    float: inline-end;
}
.hotel45{
    border: 1px solid black;
    float: inline-start;
}
.PopularOnNewYork{
    border: 1px solid green;
}